:root {
    /* Font size */
    --font-xlarge: 48px;
    --font-large: 28px;
    --font-medium: 18px;
    --font-small: 16px;
    --font-xsmall: 14px;

    /* Font weight */
    --weight-bold: 800;
    --weight-semiBold: 600;
    --weight-regular: 400;

    /* Color */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-white: #bdbdbd;
    --color-dark-purple:#6D6A9F;
    --color-purple:#7174AB;

    /* Size */
    --size-border-radius: 4px;
}

/* 전체 적용 */
* {
    box-sizing: border-box;
}

body{
    font-family: 'Tai Heritage Pro', serif;
    margin: 0;
    cursor: default;
}

a{
    color:var(--color-white);
    text-decoration: none;
}

ul{
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

h1{
    font-size: var(--font-xlarge);
    font-weight: var(--weight-bold);
    color:var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-large);
    font-weight: var(--weight-semiBold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
    line-height: 20px;
}

/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #7174AB;
    color:var(--color-white);
    align-items: center;
    padding:15px;
}

.navbar__menu{
    display:flex;
}

.navbar__logo{
    font-size:var(--font-medium);
    font-weight:var(--weight-semiBold);
    padding: 8px 12px;
    margin: 0 4px;
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
}

.navbar__menu__item.active{
    border: 1px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover{
    background-color:#6D6A9F;
    border-radius: var(--size-border-radius);
}

.navbar__toggle {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color:white;
    margin-top: 13px;
    display: none;
}

/* Home */

#home {
    background:url("../imgs/home-background.png") center/cover no-repeat;
    padding:40px;
    text-align: center;
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    color: var(--color-white);
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: 4px;
}

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* About */

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    border: 1px solid;
    color:#8E96BD;
    border-color: #8E96BD;
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon i {
    transition: all 250ms ease;
}

.major__icon:hover i {
    color: #CB807D;
    transform: rotate(-30deg) scale(1.1);
}

.major__title, .major__description {
    color: rgb(93, 93, 93);
}

.major__description {
    font-size: var(--font-xsmall);
    line-height: 20px;
}

.education {
    display: flex;
    justify-content: center;
    line-height: 20px;
}

.education__description {
    margin-top: 15px;
    text-align: left;
}

.education__major, .education__period {
    color: rgb(174, 174, 174);
}

.education__major {
    font-size: var(--font-small);
}

.education__period {
    font-size: var(--font-xsmall);
}

/* Skill */

#skills {
    background-color: #9f7ab1;
}

.skill {
    margin-bottom: 32px;
}

.skillset {
    display: flex;
    color:rgb(249, 252, 241);
    margin: 40px 0 0 20px;
}

.skillset__title {
    color:white;
}

.skillset__left {
    flex-basis: 60%;
    background-color: rgb(94, 94, 94);
    padding: 20px 40px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    background-color: #D4C7E4;
}

.skill__value {
    width: 100%;
    height: 3px;
    background-color: #a177c0;
}

.skillset__right {
    flex-basis: 40%;
    background-color: darkgray
}

.tools {
    background-color: rgb(120, 120, 120);
}

.tools,.etc {
    padding: 20px;
}

/* Contact */

#contact {
    background-color:rgb(238, 238, 238);
}

.contact__title, .contact__email {
    color:white;

}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
}

.contact__links i:hover {
    transform: scale(1.5);
    transition: all ;
}

/* 반응형 */

@media screen and (max-width:768px) {
    .navbar__toggle {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .about__majors {
        flex-direction: column;
    }

    .major {
        margin-bottom: 40px;
    }

    .skillset {
        flex-direction: column;
    }
}